# generated at 5/9/2023, 11:24:14 AM by quec-cli@1.15.0

# 默认淘宝源
registry=https://registry.npmmirror.com

# 私库统一配置
@quec:registry=http://192.168.23.184:4873

# 私库认证 账号密码 quecui 123456
//192.168.23.184:4873/:_authToken="j2tPZR7B8xRbMy1ufjXgp+EeA/LURyl3em6e9B91cv0="
always-auth=true

# 关闭yarn新版本检查
disable-self-update-check=true

